<form #testForm="ngForm">
  <div class="custom-dropdown">
    <div class="custom-dropdown-input"  (click)="toggleDropdown()">
      <input
        name="dropdown"
        class="form-control"
        type="text"
        [(ngModel)]="dropdown"
        readonly
      />
      <span class="nav-sprite caret down"></span>
     
    </div>
  </div>

  <ul
    (updateControl)="updateControl($event)"
    class="list-group"
    *ngIf="isDropDownOpen"
    #list
    [ngStyle]="{'bottom': setHeight}"
  >
    <li
      [ngClass]="item.isActive ? 'activeOption' : ''"
      (click)="selectOption($event, index)"
      *ngFor="let item of options; let index = index"
      class="item list-group-item"
    >
      {{ item.value }}
    </li>
  </ul>
</form>
