<!-- carousel -->
<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.url"
      class="slide"
      [@slideInOut]="{
        value: '',
        params: {
          direction: this.direction === 'RL' ? '100' : '-100',
          directionLeave: this.directionLeave === 'RL' ? '-100' : '100'
        }
      }"
    />
  </ng-container>

  <!-- controls 
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>-->
  <div class="a-carousel-col a-carousel-left" (click)="onPreviousClick()">
    <a
      class="a-carousel-goto-prevpage"
      href="javascript: void(0)"
      aria-disabled="true"
      ><i class="a-icon a-icon-previous-rounded"
        ><span class="a-icon-alt">Previous slide</span></i
      ></a
    >
  </div>
  <div
    class="a-carousel-col a-carousel-right"  (click)="onNextClick()">
    <a
      class="a-carousel-goto-nextpage"
      href="javascript: void(0)"
      ><i class="a-icon a-icon-next-rounded"
        ><span class="a-icon-alt">Next slide</span></i
      ></a
    >
  </div>
</div>
