@import "../../../assets/common/styles.scss";

.main--products {
  display: flex;

  .filters {
    width: calc(0.2 * (100vw - 28px));
  }
  .products-list {
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    gap: 8px;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    
  }
}
