@import "../../../assets/common/styles.scss";
:host {
  padding: 20px 0 0px 0;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 400px;
  flex-basis: 33.33333%;
  min-width: 290px;
  flex: 1 0 290px;
}
.card-list__item {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
  background: $white;
  height: 390px;
  min-height: 390px;
  p a {
    color: $black;
    text-decoration: none;
    &:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    }
  }
  &__image {
    height: 100%;
    width: 100%;

    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
      height: 100%;
      max-height: 100%;
      max-width: none;
    }
  }
}

.card-list__item__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__body {
    display: flex;
    flex-grow: 1;
    height: 275px;
    margin-bottom: 44px;

    .thumbnail {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }

  &__link {
    color: $link;
    cursor: pointer;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
}

.card-list__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
