@import "../../../assets/common/styles.scss";
.card-list__item {
  background: white;
  margin-bottom: 2em;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    }
  }
}

.card-list__item__content {
  padding: 1.4em;
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
}


/* Flexbox stuff */

.card-list__item {
  flex: 0 1 24%;
}
