<article class="card-list__item">
  <div class="card-list__item__content">
    <div class="card-list__item__content__body">
    <h2>Offerte lampo</h2>
    <picture class="thumbnail">
      <img
        src="https://images-eu.ssl-images-amazon.com/images/G/29/IT-hq/2022/img/X_Site/XCM_CUTTLE_1466051_2566571_379x304_1X_it_IT._SY304_CB610838532_.jpg"
        alt="card 1"
      />
    </picture>
    <span class="card-list__item__content__link">Scopri di più</span>
  </div>
</div>
  <!-- .card-content -->
</article>
