<div class="footer">
    <div class="footer-backtop"  (click)="ScrollIntoView('#top')">
        <span>torna su</span>
    </div>
    <div class="footer-navAccessibility"> 
        <div class="footer-navAccessibility-row">
            <div class="footer-navAccessibility-col">
                <div class="navFooterColHead">Per conoscerci meglio</div>
                <ul>
                    <li class="nav_first">
                      <a href="/gp/browse.html?node=521771031&amp;ref_=footer_gw_m_b_careers" class="nav_a">Opportunità di lavoro</a>
                    </li>
                    <li>
                      <a href="https://www.amazon.it/p/feature/u2eov7zkabqn3n2" class="nav_a">Informazioni su Amazon</a>
                    </li>
                    <li>
                      <a href="https://sostenibilita.aboutamazon.it/?utm_source=gateway&amp;utm_medium=footer&amp;ref_=susty_footer" class="nav_a">Sostenibilità</a>
                    </li>
                    <li>
                      <a href="/gp/browse.html?node=22792410031&amp;ref_=footer_AGCM_11716" class="nav_a">AGCM - Impegni Amazon Procedimento PS 11716</a>
                    </li>
                    <li class="nav_last ">
                      <a href="https://www.amazon.science" class="nav_a">Amazon Science</a>
                    </li>
                </ul>
            </div>
            <div class="footer-navAccessibility-col">
                <div class="navFooterColHead">Per conoscerci meglio</div>
                <ul>
                    <li class="nav_first">
                      <a href="/gp/browse.html?node=521771031&amp;ref_=footer_gw_m_b_careers" class="nav_a">Opportunità di lavoro</a>
                    </li>
                    <li>
                      <a href="https://www.amazon.it/p/feature/u2eov7zkabqn3n2" class="nav_a">Informazioni su Amazon</a>
                    </li>
                    <li>
                      <a href="https://sostenibilita.aboutamazon.it/?utm_source=gateway&amp;utm_medium=footer&amp;ref_=susty_footer" class="nav_a">Sostenibilità</a>
                    </li>
                    <li>
                      <a href="/gp/browse.html?node=22792410031&amp;ref_=footer_AGCM_11716" class="nav_a">AGCM - Impegni Amazon Procedimento PS 11716</a>
                    </li>
                    <li class="nav_last ">
                      <a href="https://www.amazon.science" class="nav_a">Amazon Science</a>
                    </li>
                </ul>
            </div>
            <div class="footer-navAccessibility-col">
                <div class="navFooterColHead">Per conoscerci meglio</div>
                <ul>
                    <li class="nav_first">
                      <a href="/gp/browse.html?node=521771031&amp;ref_=footer_gw_m_b_careers" class="nav_a">Opportunità di lavoro</a>
                    </li>
                    <li>
                      <a href="https://www.amazon.it/p/feature/u2eov7zkabqn3n2" class="nav_a">Informazioni su Amazon</a>
                    </li>
                    <li>
                      <a href="https://sostenibilita.aboutamazon.it/?utm_source=gateway&amp;utm_medium=footer&amp;ref_=susty_footer" class="nav_a">Sostenibilità</a>
                    </li>
                    <li>
                      <a href="/gp/browse.html?node=22792410031&amp;ref_=footer_AGCM_11716" class="nav_a">AGCM - Impegni Amazon Procedimento PS 11716</a>
                    </li>
                    <li class="nav_last ">
                      <a href="https://www.amazon.science" class="nav_a">Amazon Science</a>
                    </li>
                </ul>
            </div>
            <div class="footer-navAccessibility-col">
                <div class="navFooterColHead">Per conoscerci meglio</div>
                <ul>
                    <li class="nav_first">
                      <span class="nav_a">Opportunità di lavoro</span>
                    </li>
                    <li>
                      <span class="nav_a">Informazioni su Amazon</span>
                    </li>
                    <li>
                      <span class="nav_a">Sostenibilità</span>
                    </li>
                    <li>
                      <span class="nav_a">AGCM - Impegni Amazon Procedimento PS 11716</span>
                    </li>
                    <li class="nav_last ">
                      <span class="nav_a">Amazon Science</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footerlogo">logo amazon</div>
    <div class="footer-link">australia etc.</div>
    <div class="footer-descline">amazon advertising .....</div>
    <div class="footer-copyright">
        © 1996-2022 Amazon.com, Inc. o società affiliate
    </div>
</div>
