<div class="footer">
  <div class="footer-backtop" (click)="ScrollIntoView('#top')">
    <span>torna su</span>
  </div>
  <div class="footer-navAccessibility">
    <div class="footer-navAccessibility-row">
      <div class="footer-navAccessibility-col">
        <div class="navFooterColHead">Per conoscerci meglio</div>
        <ul>
          <li class="nav_first">
            <span class="nav_a">Opportunità di lavoro</span>
          </li>
          <li>
            <span class="nav_a">Informazioni su Amazon</span>
          </li>
          <li>
            <span class="nav_a">Sostenibilità</span>
          </li>
          <li>
            <span class="nav_a"
              >AGCM - Impegni Amazon Procedimento PS 11716</span
            >
          </li>
          <li class="nav_last">
            <span class="nav_a">Amazon Science</span>
          </li>
          <li class="nav_last">
            <span class="nav_a"> Pubblica con noi da indipendente</span>
          </li>
          <li class="nav_last">
            <span class="nav_a"> Promuovi i tuoi prodotti</span>
          </li>
        </ul>
      </div>
      <div class="footer-navAccessibility-col">
        <div class="navFooterColHead">Guadagna con Amazon</div>
        <ul>
          <li class="nav_first">
            <span class="nav_a">Opportunità di lavoro</span>
          </li>
          <li>
            <span class="nav_a">Informazioni su Amazon</span>
          </li>
          <li>
            <span class="nav_a">Sostenibilità</span>
          </li>
          <li>
            <span class="nav_a"
              >AGCM - Impegni Amazon Procedimento PS 11716</span
            >
          </li>
          <li class="nav_last">
            <span class="nav_a">Amazon Science</span>
          </li>
        </ul>
      </div>
      <div class="footer-navAccessibility-col">
        <div class="navFooterColHead">Per conoscerci meglio</div>
        <ul>
          <li class="nav_first">
            <span class="nav_a">Opportunità di lavoro</span>
          </li>
          <li>
            <span class="nav_a">Informazioni su Amazon</span>
          </li>
          <li>
            <span class="nav_a">Sostenibilità</span>
          </li>
          <li>
            <span class="nav_a"
              >AGCM - Impegni Amazon Procedimento PS 11716</span
            >
          </li>
          <li class="nav_last">
            <span class="nav_a">Amazon Science</span>
          </li>
        </ul>
      </div>
      <div class="footer-navAccessibility-col">
        <div class="navFooterColHead">Per conoscerci meglio</div>
        <ul>
          <li class="nav_first">
            <span class="nav_a">Opportunità di lavoro</span>
          </li>
          <li>
            <span class="nav_a">Informazioni su Amazon</span>
          </li>
          <li>
            <span class="nav_a">Sostenibilità</span>
          </li>
          <li>
            <span class="nav_a"
              >AGCM - Impegni Amazon Procedimento PS 11716</span
            >
          </li>
          <li class="nav_last">
            <span class="nav_a">Amazon Science</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-logo" (click)="ScrollIntoView('#top')">
    <div class="nav-logo-base nav-sprite"></div>
  </div>
  <div class="footer-link">
    <ul>
      <li>
        <span class="nav_a">Australia</span>
      </li>
      <li>
        <span class="nav_a">Brasile</span>
      </li>
      <li>
        <span class="nav_a">Canada</span>
      </li>
      <li>
        <span class="nav_a">Cina</span>
      </li>
      <li>
        <span class="nav_a">Francia</span>
      </li>
      <li>
        <span class="nav_a">Germania</span>
      </li>
      <li>
        <span class="nav_a">Giappone</span>
      </li>
      <li>
        <span class="nav_a">India</span>
      </li>
      <li>
        <span class="nav_a">Messico</span>
      </li>
      <li>
        <span class="nav_a">Paesi/Regioni Bassi</span>
      </li>
      <li>
        <span class="nav_a">Polonia</span>
      </li>
      <li>
        <span class="nav_a">Emirati Arabi Uniti</span>
      </li>
      <li>
        <span class="nav_a">Regno Unito</span>
      </li>
      <li>
        <span class="nav_a">Spagna</span>
      </li>
      <li>
        <span class="nav_a">Singapore</span>
      </li>
      <li>
        <span class="nav_a">Stati Uniti</span>
      </li>
      <li class="nav_last">
        <span class="nav_a">Turchia</span>
      </li>
    </ul>
  </div>
  <div class="footer-descline">
    <div class="footer-descline-wrapper">
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Advertising Trova</span> 
        <span class="footer-descline-item-bottom">attira e coinvolgi i clienti</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Music</span> 
        <span class="footer-descline-item-bottom">Streaming di milioni di canzoni</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Web Services</span> 
        <span class="footer-descline-item-bottom">Servizi Cloud Scalabili</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Music</span> 
        <span class="footer-descline-item-bottom">Streaming di milioni di canzoni</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Advertising Trova</span> 
        <span class="footer-descline-item-bottom">attira e coinvolgi i clienti</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Music</span> 
        <span class="footer-descline-item-bottom">Streaming di milioni di canzoni</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Kindle Direct Publishing</span> 
        <span class="footer-descline-item-bottom">Pubblica i tuoi libri<br>in formato elettronico</span>
      </div>
      <div class="footer-descline-item">
        <span class="footer-descline-item-top">Amazon Music</span> 
        <span class="footer-descline-item-bottom">Streaming di milioni di canzoni</span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <ul>
      <li>Condizioni generali di uso e vendita</li>
      <li>Informativa sulla privacy</li>
      <li>Area legale</li>
      <li>Cookie</li>
      <li>Pubblicità definita in base agli interessi</li>
    </ul>
    <span>&copy;1996-2022 Amazon.com, Inc. o società affiliate</span>
  </div>
</div>
