<div class="header_menu_searchbar" [class.nav-focus]="selectFocusInputClass">
  <div class="select only-desktop" *ngIf="categories$ | async as categories">
    <select
      (focus)="selectFocusClass = true"
      (blur)="selectFocusClass = false"
      (change)="changeWidth($event.target)"
      #select
      [ngStyle]="{ width: selectWidth }"
      [class.nav-focus]="selectFocusClass"
    >
      <option value="tutte">Tutte le categorie</option>
      <option value="{{ category.value }}" *ngFor="let category of categories">
        {{ category.viewValue }}
      </option>
    </select>
  </div>
  <input
    type="text"
    class="header_menu_input"
    (focus)="handleFocus(true)"
    (blur)="handleFocus(false)"
    placeholder="{{placeholder}}"
    [(ngModel)]="query"
  />
  <div class="header_menu_searchbar_icon" (click)="search()">
    <mat-icon>search</mat-icon>
  </div>
</div>

