@import "../../../assets/common/styles.scss";
:host {
  display: flex;
  flex-grow: 2;
}
.header_menu_searchbar {
  display: none;
  @include respond-to(desktop) {
    display: flex;
    margin-top: 8px;
    height: 40px;
    justify-content: space-between;
    flex: 1;
    font-size: 12px;
  }
  &.nav-focus {
    border-radius: 0.25em;
  }
  .header_menu_input {
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }
  .header_menu_searchbar_icon {
    background-color: $orange;
    height: 40px;
    width: 56px;
    color: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    cursor: pointer;
  }

  select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    font-family: "Amazon Regular" !important;
    flex: 1;
    padding: 0 1em;
    color: $darkGrey;
    background-image: none;
    cursor: pointer;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    height: 40px;
    background-color: #f3f3f3;
    color: #333;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    @include respond-to(desktop) {

    }
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    transition: 0.25s all ease;
    pointer-events: none;
  }
}

