@import "../../../assets/common/styles.scss";
.header {
  //position: sticky;
  z-index: 100;
  top: 0;
  .header_bottom_mobile {
    display: block;
    background-color: $amazonDark;
    @include respond-to(desktop) {
      display: none;
    }
  }
}
.header_top {
  height: 60px;
  background-color: $black;
  font-size: 14px;
  display: flex;
  color: $white;
  padding-right: 0px;
  @include respond-to(desktop) {
    padding-right: 8px;
  }

  .nav-cart-icon {
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
  }
  #nav-cart-count {
    position: absolute;
    left: 13px;
    right: auto;
    top: 8px;
    justify-content: center;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: $darkOrange;
    font-weight: bold;
  }
}
.header_menu {
  display: flex;
  padding: 2px 8px 5px 8px;
  width: 100%;
  &_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #nav-logo {
    margin-left: 4px;
    width: auto;
    padding: 0;
    display: flex;
    position: relative;
    float: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #fff;
    }
    .nav-logo-link {
      display: flex;
      position: static;
      float: none;
      flex-shrink: 0;
      text-decoration: none;
      padding: 0px 8px 0px 4px;
      margin: 2px 1px 1px 1px;
      .nav-logo-base {
   
        margin-top: 10px;
        pointer-events: none;
        float: left;
        text-indent: -500px;
        background-position: -10px -51px;
        width: 97px;
        height: 30px;
      }
    }
    .nav-logo-locale {
      width: auto;
      margin-top: 11px;
      pointer-events: none;
    }
  }
}

.header_menu_icon > mat-icon {
  font-size: 30px;
  align-items: center;
  color: $white;
}
.header_menu_searchbar {
  display: none;
  @include respond-to(desktop) {
    display: flex;
    margin-top: 8px;
    height: 40px;
    justify-content: center;
    flex: 1;
    font-size: 12px;
  }
}
.header_menu_input {
  height: 20px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_menu_searchbar_icon {
  background-color: $orange;
  height: 40px;
  width: 56px;
  color: $black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.header_menu_right {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  height: 40px;
  margin: 8px;
  justify-content: flex-end;
  width: 100%;
  @include respond-to(desktop) {
    display: flex;
    width: auto;
  }
}
.header_menu_signin {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  &:hover {
    border: 1px solid $white;
  }
  &.show-desktop {
    display: none;
    @include respond-to(desktop) {
      display: flex;
    }
  }
}

.header_menu_bottom_item {
  font-weight: 800;
}
.header_nav_tools {
  display: flex;
  align-items: flex-end;
}
.header_menu_cart {
  display: flex;
  margin-top: 10px;
  margin-left: 8px;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 40px;

  #nav-cart-count-container {
    position: relative;
    padding-bottom: 1px;

    #nav-cart-count {
      position: absolute;
      left: 13px;
      right: auto;
      top: -5px;
      justify-content: center;
    }
  }
}
.header_cart_number {
  color: #febd69;
  font-size: 25px;
  font-weight: 800;
}
.header_bottom {
  // width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  height: 49px;
  background-image: none;
  background-color: $black;
  /* padding-top: 5px;
    padding-bottom: 5px; */
  padding-left: 8px;
  font-size: 14px;
  color: $white;
  display: flex;
  align-items: center;
  @include respond-to(desktop) {
    overflow-x: unset;
    width: auto;
    background-color: $amazonDark;
  }
  .header_menu_icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 9px;
    border: 1px solid transparent;
    mat-icon {
      position: relative;
      top: -3px;
    }
    span {
      font-weight: bold;
    }
    &:hover {
      border: 1px solid $white;
    }
  }
  &_nav {
    display: flex;
    ul {
      display: flex;
      padding-left: 0;
      li {
        list-style: none;
        cursor: pointer;
        padding: 8px 9px;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $white;
        }
      }
    }
  }
}
.header_bottom_location_text {
  color: $white;
  display: flex;
  flex-direction: column;
}
.header_cart_text {
  display: none;
  font-size: 13px;
  font-weight: 800;
  @include respond-to(desktop) {
    display: block;
  }
}

::ng-deep .mat-mdc-form-field {
  height: 63px;
}

::ng-deep .mdc-text-field {
  border-top-right-radius: 0 !important;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 18px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
}
.mat-form-field-infix {
  padding: 0;
  border-top: 0;
}
// new css select

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: $darkGrey;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;

  height: 40px;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  overflow: hidden;
  background-color: #f3f3f3;
  color: #333;
  @include respond-to(desktop) {
    width: 20em;
  }
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  // color: #f39c12;
}

/* Other styles*/
body {
  color: $white;
  background: var(--background-gradient);
}
h1 {
  margin: 0 0 0.25em;
}
a {
  font-weight: bold;
  color: $grey;
  text-decoration: none;
  padding: 0.25em;
  border-radius: 0.25em;
  background: white;
}
