<div class="header" id="top">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_left">
        <div id="nav-logo">
          <div class="nav-logo-link nav-progressive-attribute">
            <span class="nav-sprite nav-logo-base"></span>
            <span class="nav-sprite"></span>
            <span class="nav-logo-locale">{{ lang }}</span>
          </div>
        </div>
        <app-address></app-address>
      </div>
      <div class="header_menu_center only-desktop">
        <app-searchbar [categories]="categories" (showLayer)="show($event)"></app-searchbar>
      </div>
      <div class="header_menu_right">
        <div class="header_menu_signin">
          <span class="header_menu_top_item nav-line-top">Ciao, accedi</span>
          <span class="header_menu_bottom_item nav-line-tobottomp"
            >Account e liste</span
          >
        </div>
        <div routerLink="/login" class="header_menu_signin show-desktop">
          <span class="header_menu_top_item nav-line-top">Resi</span>
          <span class="header_menu_bottom_item nav-line-bottom">e ordini</span>
        </div>
        <div routerLink="/checkout" class="header_menu_cart header_menu_signin">
          <div class="header-menu_cart_left">
            <div id="nav-cart-count-container">
              <span
                id="nav-cart-count"
                aria-hidden="true"
                class="nav-cart-count"
                >12</span
              >
              <span class="nav-cart-icon nav-sprite"></span>
            </div>
          </div>
          <span class="header_cart_text">Carrello</span>
        </div>
      </div>
    </div>
  </nav>
  <div class="searchbar--mobile only-mobile">
    <app-searchbar [placeholder]="placeholderText"></app-searchbar>
  </div>
  <nav class="header_bottom">
    <div class="header_menu_icon" (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
      <span>Tutte</span>
    </div>
    <div class="header_bottom_nav">
      <ul *ngIf="navigationLinks$ | async as navigationLinks">
        <li *ngFor="let navItem of navigationLinks">{{ navItem.text }}</li>
      </ul>
    </div>
  </nav>
  <nav class="header_bottom_mobile">
    <div (click)="openBottomSheet()" class="header_bottom_mobile_address">
      <div class="nav-sprite nav-progressive-attribute"></div>
      <div>{{locaObj.text}}: {{locaObj.value}}</div>
    </div>
  </nav>
  <div class="nav-cover--focus" *ngIf="isVisible"></div>
</div>
