@import "../../../assets/common/styles.scss";

:host {
  position: relative;
}

.side-customer-profile {
  background-color: $amazonDark;
  height: 50px;
  align-items: center;
  color: $white;
  display: flex;
  &-left {
    cursor: pointer;
    .side-customer-icon {
      background-image: url(../../../assets/images/amazon-sprite.png);
      background-size: 350px;
      margin: 0 10px 0 36px;
      background-position: -137px -340px;
      height: 25px;
      width: 27px;
    }
  }
  &-right {
    cursor: pointer;
    .side-customer-name {
      font-weight: 700;
      font-size: 19px;
      line-height: 25px;
    }
  }
}
.menu-content {
  .menu {
    list-style: none;
    padding-inline-start: 0px;
    li {
      padding-bottom: 2px;
      .menu-item {
        padding-right: 20px;
        padding-left: 36px;
        padding-top: 13px;
        padding-bottom: 13px;
        cursor: pointer;
        display: flex;
        &:hover {
          background-color: $lightGrey;
          color: $amazonDark;
          .menu-arrow-next {
            background-position: -166px -288px;
          }
        }
        &.menu-title {
          padding-bottom: 5px;
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          color: $textBlack;
          text-transform: capitalize;
          display: inline-block;
          pointer-events: none;
        }
        .menu-arrow-next {
          background-position: -137px -288px;
          margin-left: auto;
          width: 10px;
          height: 14px;
          transform: scaleX(1);
        }
      }
    }
    .menu-separator {
      border-bottom: 1px solid #d5dbdb;
      padding: 0;
      margin: 5px 0;
    }
  }
}
