<div class="side-customer-profile">
  <div class="side-customer-profile-left">
    <div class="side-customer-icon nav-sprite"></div>
  </div>
  <div class="side-customer-profile-right">
    <div class="side-customer-name">
      <span>Ciao, accedi</span>
    </div>
  </div>
</div>
<div class="menu-content">
  <ul class="menu menu-visible">
    <li>
      <div class="menu-item menu-title">di tendenza</div>
    </li>
    <li>
      <div class="menu-item">Bestseller</div>
    </li>
    <li>
      <div class="menu-item">Novità</div>
    </li>
    <li>
      <div class="menu-item">I prodotti del momento</div>
    </li>
  </ul>
</div>
