<div class="side-customer-profile">
  <div class="side-customer-profile-left">
    <div class="side-customer-icon nav-sprite"></div>
  </div>
  <div class="side-customer-profile-right">
    <div class="side-customer-name">
      <span>Ciao, accedi</span>
    </div>
  </div>
</div>
<div class="menu-content">
  <ul class="menu menu-visible">
    <li>
      <div class="menu-item menu-title">di tendenza</div>
    </li>
    <li>
      <div class="menu-item">Bestseller</div>
    </li>
    <li>
      <div class="menu-item">Novità</div>
    </li>
    <li>
      <div class="menu-item">I prodotti del momento</div>
    </li>
    <li class="menu-separator"></li>
    <li>
      <div class="menu-item menu-title">Dispositivi e contenuti digitali</div>
    </li>
    <li>
      <div class="menu-item">
        <div>Amazon Prime Video</div>
        <i class="nav-sprite menu-arrow-next"></i>
      </div>
    </li>
    <li>
      <div class="menu-item">
        <div>Amazon Music</div>
        <i class="nav-sprite menu-arrow-next"></i>
      </div>
    </li>
    <li>
        <div class="menu-item">
          <div>Amazon Photos</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Echo e Alexa</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Amazon Fire TV</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>E-reader e eBook Kindle</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Tablet Fire</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Amazon Music</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Appstore per Android</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Audiolibri Audible</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li class="menu-separator"></li>
      <li>
        <div class="menu-item menu-title">Scegli per categoria</div>
      </li>
      <li>
        <div class="menu-item">
          <div>Libri</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>Musica, Film e TV</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <div>VideoGiochi e Console</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>

      <li>
        <div class="menu-item">
          <div>Elettronica e nformatica</div>
          <i class="nav-sprite menu-arrow-next"></i>
        </div>
      </li>
  </ul>
</div>
