@import "../../../assets/common/styles.scss";

:host {
  position: relative;
}

.side-customer-profile {
  background-color: $amazonDark;
  height: 50px;
  align-items: center;
  color: $white;
  display: flex;
  &-left {
    cursor: pointer;
    .side-customer-icon {
      background-image: url(../../../assets/images/amazon-sprite.png);
      background-size: 350px;
      margin: 0 10px 0 36px;
      background-position: -137px -340px;
      height: 25px;
      width: 27px;
    }
  }
  &-right {
    cursor: pointer;
    .side-customer-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1px;
    }
  }
}
.menu-content {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  .menu {
    list-style: none;
    padding-inline-start: 0px;
    font-size: 14px;
    line-height: 16px;
    &.menu-visible {
      visibility: visible;
    }
    li {
      padding-bottom: 2px;
      .menu-item {
        padding-right: 20px;
        padding-left: 36px;
        padding-top: 13px;
        padding-bottom: 13px;
        cursor: pointer;
        display: flex;

        &.menu-back-button {
          border-bottom: 1px solid #d5dbdb;
          text-transform: uppercase;
          .menu-arrow-prev {
            background-position: -137px -310px;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            transform: scaleX(1);
          }
        }
        &:hover {
          background-color: $lightGrey;
          color: $amazonDark;
          .menu-arrow-next {
            background-position: -166px -288px;
          }
          .menu-arrow-prev {
            background-position: -166px -310px;
          }
        }
        &.menu-title {
          padding-bottom: 5px;
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          color: $textBlack;
          text-transform: capitalize;
          display: inline-block;
          pointer-events: none;
        }
        .menu-arrow-next {
          background-position: -137px -288px;
          margin-left: auto;
          width: 10px;
          height: 14px;
          transform: scaleX(1);
        }
      }
    }
    .menu-separator {
      border-bottom: 1px solid #d5dbdb;
      padding: 0;
      margin: 5px 0;
    }
  }
}

//menu translate X

.menu {
    padding-top: 7px;
    padding-bottom: 30px;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    will-change: transform;
    visibility: hidden;

  .menu-translateX-right {
    transform: translateX(100%);
  }
  .menu-translateX {
    transform: translateX(0);
  }
  .menu-translateX-left {
    transform: translateX(-100%);
  }
}
