<div class="options">
  <div class="options-top">
    <mat-icon (click)="onBack()">arrow_back</mat-icon>
  </div>
  <div class="options-body">
    <h3>Paesi più comuni</h3>
    <div class="options-body-commons">
      <form>
        <div class="options-item">
          <input type="radio" name="delivery" />
          <label for="other">Francia</label>
        </div>
        <div class="options-item">
          <input type="radio" name="delivery" />
          <label for="test1">Cina</label>
        </div>
        <div class="options-item">
          <input type="radio" name="delivery" />
          <label for="test1">Francia</label>
        </div>
      </form>
    </div>
  </div>
</div>
