<div class="address-form" mat-dialog-container *ngIf="!isVisible">
  <div class="address-form-title">
    <h4>Seleziona la tua posizione</h4>
  </div>
  <div class="address-form-body">
    <div class="address-form-body-top">
      <div class="address-form-body-top-text">
        <span class="size-small-12"
          >Seleziona un indirizzo di consegna per scoprire le opzioni di
          spedizione disponibili</span
        >
      </div>
      <div class="address-form-body-top-btn">
        <button class="btn btn-yellow">
          Accedi per vedere i tuoi indirizzi
        </button>
      </div>
    </div>
    <div class="address-form-divider">
      <span>oppure inserisci un CAP italiano</span>
    </div>
    <div class="address-form-body-center">
      <form>
        <div class="address-form-row address-form-row--flex">
          <input type="text" class="address-form-input" />
          <button class="btn btn-white">Conferma</button>
        </div>
      </form>
    </div>
    <div class="address-form-divider">
      <span>oppure</span>
    </div>
    <div class="address-form-body-bottom">
      <form>
        <div class="address-form-row">
          <div class="dropdown-container dropdown-container--desktop">
            <custom-dropdown [options]="optionsList1"></custom-dropdown>
          </div>
          <div class="dropdown-container dropdown-container--mobile">
            <span class="dropdown-text-mobile" (click)="showForeignSelection()"><mat-icon>language</mat-icon> Spedisci all'estero</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-options *ngIf="isVisible" (backEvent)="show($event)" [optionsList]="optionsList1"></app-options>
