<div class="address-form">
    <div class="address-form-title">
        <h4>Seleziona la tua posizione</h4>
    </div>
    <div class="address-form-body">
        <div class="address-form-body-top">
            <div class="address-form-body-top-text">
                <span class="size-small-12">Seleziona un indirizzo di consegna per scoprire le opzioni di spedizione disponibili</span>
                
            </div>
            <div class="address-form-body-top-btn">
                <button class="btn btn-yellow">Accedi per vedere i tuoi indirizzi</button>
            </div>
        </div>
        <div class="address-form-divider">
            <span>oppure inserisci un CAP italiano</span>
        </div>
        <div class="address-form-body-center">
            <form>
                <div class="address-form-row">
                    <input type="text">
                    <button>Conferma</button>
                </div>
            </form>
        </div>
        <div class="address-form-divider">
            <span>oppure</span>
        </div>
        <div class="address-form-body-bottom">
            <form>
                <div class="address-form-row">
                    <select type="text">
                        <option value="estero">Spedisci dall'estero</option>
                    </select>
                    
                </div>
            </form>
        </div>
    </div>
</div>
