<!-- carousel -->
<div class="products-title">
  <h2 class="products-title-left">
    <span class="title">{{title}}</span>
  </h2>
  <span class="products-title-right"
    >Scopri</span
  >
</div>
<ngx-slick-carousel class="carousel products-carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="slide" #button>
<img src="{{ slide.url }}" alt="" width="100%">
</div>
</ngx-slick-carousel>

