@import "../../../assets/common/styles.scss";
:host {
  flex: 1;
}
.products-title {
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 0 0;
  h2 {
    display: block;
    width: auto;
    float: left;
    line-height: 1.5 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0;
  }
  .products-title-right {
    display: block;
    width: auto;
    float: left;
    text-align: right;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 15px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $link;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.product-carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: $white;

  left: 0;
  margin: 0 0 14px;
  padding: 0;
  .product-item {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
  }
}

.slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.control {
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;

  &:hover,
  &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

// add new css
.a-carousel-left,
.a-carousel-right {
  max-height: 250px;
}

.a-carousel-left,
.a-carousel-right {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.a-carousel-left,
.a-carousel-right {
  width: 80px;
  position: absolute;
}
.a-carousel-goto-prevpage,
.a-carousel-goto-nextpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  border-radius: 5px;
}

.a-icon-previous-rounded,
.a-icon-next-rounded {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.a-icon-alt {
  position: absolute;
  left: -9999px;
  top: auto;
  display: block;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
}

.a-icon.a-icon-next-rounded,
.a-icon.a-icon-previous-rounded {
  background-size: 68px 52px;
  width: 34px;
  height: 52px;
  outline: 0;
}

.a-icon.a-icon-next-rounded,
.a-icon.a-icon-previous-rounded {
  background-image: url("/assets/images/carousel-arrows.png");
}

.a-carousel-right {
  text-align: right;
  right: 0;
  padding-right: 3px;
}

.a-icon.a-icon-next-rounded {
  background-position: -34px 0;
}

.a-carousel-goto-nextpage:focus,
.a-carousel-goto-prevpage:focus {
  box-shadow: inset 0 0 0 2px $white, inset 0 0 0 4px $amazonBlue;
}

.products-carousel {
  padding: 20px 0;
  .products-container {
    width: 100%;
  }
  .slider-wrap {
    position: relative;
    overflow-x: hidden;
    height: 250px;
    .slider-main {
      position: absolute;
      width: 200%;
      .item {
        display: inline-block;
        height: 200px;
        width: 200px;
        position: relative;
        margin: 0 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
