@import "../../../assets/common/styles.scss";

.carousel_container {
    height: 600px;
}
.products-carousel_container {
    height: 285px;
    background-color: $white;
    margin: 0px 20px;
}
.main_container {
    position: relative;
    top: -390px;
}