@import "../../../assets/common/styles.scss";

.carousel_container {
    height: 600px;
}
.products-carousel_container {
    height: auto;
    background-color: $white;
    margin: 0px 20px;
    @include respond-to(desktop) {
        height: 285px;
    }
}
.main_container {
    position: relative;
    top: -390px;
}