<div class="gdpr">
  <div class="gdpr-continue">
    <span class="a-link">Continua senza accettare</span>
  </div>
  <div class="gdpr-container">
    <div class="gdpr-container-left">
      <h4>Selezione delle preferenze relative ai cookie</h4>
      <div class="gdpr-paragraph">
        <p>
          Utilizziamo cookie e altre tecnologie simili necessari per consentirti
          di effettuare acquisti, per migliorare le tue esperienze di acquisto e
          per fornire i nostri servizi, come descritto in dettaglio nella nostra
          <span class="a-link">Informativa sui cookie</span>. Utilizziamo questi
          cookie anche per capire come i clienti utilizzano i nostri servizi per
          poterli migliorare (ad esempio, analizzando le interazioni con il
          sito).
        </p>
        <p>
          Se accetti, utilizzeremo i cookie anche per ottimizzare la tua
          esperienza di acquisto nei negozi Amazon come descritto nella nostra
          <span class="a-link">Informativa sui cookie</span>. Questo comprende
          l'utilizzo di
          <span class="a-link">cookie di prima parte e di terze parti</span>
          che memorizzano o accedono a informazioni standard del dispositivo,
          come l’identificatore univoco. I terzi utilizzano i cookie per le loro
          finalità di mostrare e analizzare la pubblicità personalizzata,
          generare informazioni sui destinatari e sviluppare e migliorare i
          prodotti. Clicca su "Personalizza i cookie" per non accettare questi
          cookie, gestire le tue preferenze ulteriori o saperne di più. Puoi
          modificare le tue preferenze in qualsiasi momento visitando la pagina
          sulle
          <span class="a-link">Preferenze cookie</span>, come descritto
          nell'Informativa sui cookie. Per maggiori informazioni sulle modalità
          e finalità per cui Amazon utilizza i dati personali (come, ad esempio,
          la cronologia degli ordini dei negozi Amazon), consulta la nostra
          <span class="a-link">Informativa sulla privacy</span>.
        </p>
      </div>
    </div>
    <div class="gdpr-container-right">
      <div class="gdpr-container-btn">
        <button class="btn btn-yellow">Accetta i cookie</button>
      </div>
      <div class="gdpr-container-btn">
        <button class="btn btn-white">Personalizza i cookie</button>
      </div>
    </div>
  </div>
</div>
