@import "./assets/common/fonts.scss";

body {
  margin: 0px;
  background-color: #eaeded;
  font-family: "Amazon Regular" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.nav-focus {
  box-shadow: 0 0 0 2px #f90, 0 0 3px rgb(255 153 0 / 50%);
}

html,
body {
  height: 100%;
}
.products-carousel {
  .slick-next,
  .slick-prev {
    opacity: 0;
    transition: 0.7s ease-in-out opacity;
  }
  &:hover {
    .slick-next,
    .slick-prev {
      opacity: 1;
      transition: 0.7s ease-in-out opacity;
    }
  }
}

.slick-prev,
.slick-next {
  top: 55px;
  background-color: #fff !important;
  height: 100px !important;
  line-height: 100px !important;
  width: 45px !important;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none !important;
  opacity: 0;
  &:focus {
    text-decoration: none;
    outline: 5px auto #008296 !important;
  }
  &:hover {
    &:before {
      color: #111;
    }
  }
  &.slick-disabled {
    opacity: 0.5 !important;
  }
}

.slick-next {
  right: 0 !important;
  border-radius: 3px 0 0 3px;
  clip: rect(-10px, 45px, 110px, -10px);
  padding-left: 5px;
  z-index: 10;
  &:before {
    content: "\276F" !important;
    color: #232f3e !important;
  }
}

.slick-prev {
  left: 0 !important;
  border-radius: 0 3px 3px 0;
  clip: rect(-10px, 55px, 110px, 0);
  padding-right: 5px;
  z-index: 10;
  &:before {
    content: "\276E" !important;
    color: #111 !important;
  }
}

.slick-slide {
  padding-right: 10px;
}

.slick-track {
  left: 0 !important;
  transition: all 0.5s ease-in-out !important;
}
.bounce-next {
  left: 50px !important;
  transition: all 0.5s ease-in-out !important;
}
.bounce-prev {
  left: -30px !important;
  transition: all 0.5s ease-in-out !important;
}

.nav-line-top {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  margin-top: 4px;
  color: #ccc;
}

.nav-line-bottom {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}
.size-small-12 {
  font-size: 12px;
  line-height: 16px;
}

.mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, var(--mdc-shape-medium, 10px))!important;
}
